---
import Icon from "../ui-icon.astro";
---

<a
  href="/"
  class="flex items-center p-1 rounded-full gap-3 pr-4 text-white bg-primary hover:bg-primary-hover active:bg-primary-active"
>
  <Icon src="/icons/shopping-bag.svg" fill size="sm" rounded />
  Buy Now
</a>
