<h2 class="text-5xl font-black text-primary leading-normal">
  All Fast Food is Available at
  <span
    class="relative inline-block w-fit z-10 after:absolute after:h-2 after:w-full after:bg-secondary after:bottom-4 after:rounded-full after:-z-10 after:right-0"
  >
    Foodle
  </span>
</h2>
