---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/index.astro";
import OrderSpecs from "../components/order-specs/index.astro";
import MenuSection from "../components/menu/index.astro";
import CategorySection from "../components/categories/index.astro";
import OffersSection from "../components/offers/index.astro";
import Footer from "../components/footer/index.astro";
---

<Layout title="Mi Página web">
  <Hero slot="hero" />
  <main
    class="bg-white relative flex w-full justify-center flex-col"
    slot="content"
  >
    <OrderSpecs />
    <CategorySection />
    <MenuSection />
    <OffersSection />
  </main>
  <Footer />
</Layout>
