---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/index.astro";
import OrderSpecs from "../components/order-specs/index.astro";
import MenuSection from "../components/menu/index.astro";
import CategorySection from "../components/categories/index.astro";
import LayoutWrapper from "../components/layout-wrapper.astro";
---

<Layout title="Mi Página web">
  <Hero slot="hero" />
  <main
    class="bg-white relative flex w-full justify-center flex-col"
    slot="content"
  >
    <LayoutWrapper>
      <OrderSpecs />
      <CategorySection />
      <MenuSection />
    </LayoutWrapper>
  </main>
</Layout>
