---
import type { LinkProps } from "../../@types";

type Props = LinkProps;

const {
  href: slug = "#",
  bgColor = "default",
  textColor = "default",
  current = false,
  bordered = false,
  filled = false,
  twStyles = "",
  size = "md",
  ...rest
} = Astro.props;

const link = {
  textColor: {
    white: "text-white hover:text-gray-200",
    primary: "text-primary hover:text-primary-hover active:text-primary-active",
    default: {
      "text-secondary hover:text-primary": !current,
      "text-white md:text-black": current,
    },
  }[textColor],

  border: bordered && [
    "border rounded-full",
    {
      "border-primary hover:border-primary-active transition-all duration-50":
        textColor === "primary",
      "border-secondary": textColor === "default",
    },
  ],

  bgColor: bgColor && {
    "bg-primary hover:bg-primary-hover active:bg-primary-active":
      bgColor === "primary",
  },

  size:
    (bgColor !== "default" || bordered) &&
    {
      sm: "py-2 px-5 text-xs",
      md: "py-3 px-7 text-sm",
      bg: "py-4 px-12 text-md",
    }[size],
};

const variant = [
  !link.size && "text-sm",
  "font-medium h-min",
  link.size,
  link.textColor,
  link.border,
  link.bgColor,
  twStyles,
];
---

<a href={slug} class:list={variant} {...rest}>
  <slot />
</a>
