---
import Icon from "./ui-icon.astro";
---

<ul
  class="absolute bg-white -top-20 mx-auto left-0 right-0 w-[92%] flex min-[1132px]:justify-evenly overflow-x-scroll gap-6 shadow-3xl p-6 rounded-2xl"
>
  <li class="flex items-center flex-shrink-0 max-w-80 w-full gap-2">
    <Icon src="icons/fast-delivery.svg" size="bg" fill />
    <aside class="flex flex-col">
      <h4 class="text-lg font-bold">Fast Delivery</h4>
      <p class="text-sm text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        deserunt facere fugit
      </p>
    </aside>
  </li>
  <li class="flex items-center flex-shrink-0 max-w-80 w-full gap-2">
    <Icon src="icons/fast-delivery.svg" size="bg" fill />
    <aside class="flex flex-col">
      <h4 class="text-lg font-bold">Fresh Food</h4>
      <p class="text-sm text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        deserunt facere fugit
      </p>
    </aside>
  </li>
  <li class="flex items-center flex-shrink-0 max-w-80 w-full gap-2">
    <Icon src="icons/fast-delivery.svg" size="bg" fill />
    <aside class="flex flex-col">
      <h4 class="text-lg font-bold">Free Delivery</h4>
      <p class="text-sm text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        deserunt facere fugit
      </p>
    </aside>
  </li>
</ul>
