---
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col justify-center w-full">
    <header class="flex w-full py-6 px-8">
      <Navbar />
      <slot name="hero" />
    </header>
    <slot name="content" />
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

  :root {
    --transition: 0.2s ease-in-out;

    --bg: #fbf3ea;
    --default-text: #3a3937;
    --primary-text: var(--primary);

    --secondary-text: #9b9796;
    --secondary-text-hover: #8b8786;
    --secondary-text-active: #676363;
    --secondary-text-focus: var(--secondary-text);

    --primary: #f87171;
    --primary-hover: #ef4444;
    --primary-active: #dc2626;
    --primary-focus: var(--secondary);

    --secondary: #dfec55;
    --font-family: "Lexend Deca", system-ui, sans-serif;
  }
  html {
    font-family: var(--font-family);
  }

  body {
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    color: var(--default-text);
  }

  @media (prefers-color-scheme: dark) {
    :root {
    }
  }
</style>
