---
import OfferCard from "./offer-card.astro";
---

<section class="flex gap-2 w-full h-80 mb-14 md:w-11/12 lg:w-10/12 m-auto">
  <div
    class="flex justify-between p-4 border rounded-xl bg-green-300 bg-[url('images/burger-offer.jpg')] bg-center bg-cover w-1/2"
  >
    <h3 class="text-white font-bold text-2xl">25% <br /> Discount</h3>
    <span class="h-fit mt-3.5 flex -rotate-45 flex-col justify-center relative">
      <h3 class="z-10 text-xl font-bold text-white">$2.60</h3>
      <img class="absolute scale-150 -z-0 m-auto" src="icons/blob3.svg" />
    </span>
  </div>
  <aside class="flex flex-col gap-2 w-1/2 h-full">
    <div
      class="flex justify-between relative p-4 w-full h-1/2 rounded-xl bg-blobColor"
    >
      <img
        class="absolute bottom-0 right-0 left-0 w-2/3 mx-auto"
        src="images/offer2-bg.jpg"
      />
      <span
        class="h-fit mt-3.5 flex -rotate-45 flex-col justify-center relative"
      >
        <h3 class="z-10 text-lg font-bold text-white">$3.80</h3>
        <img class="absolute scale-125 -z-0 m-auto" src="icons/blob4.svg" />
      </span>
      <span class="h-fit flex flex-col justify-center relative">
        <h3 class="z-10 text-xl font-bold text-white">15% <br />Off</h3>
        <img class="absolute scale-125 -z-0 m-auto" src="icons/blob2.svg" />
      </span>
    </div>
    <div
      class="flex justify-between p-4 w-full h-1/2 relative rounded-xl bg-secondary overflow-hidden"
    >
      <img
        class="absolute bottom-0 right-0 left-0 w-2/3 mx-auto"
        src="images/offer3-bg.jpg"
      />
      <span class="text-primary">
        <h3 class="font-bold">Tortilla Warp Tacos</h3>
        <p class="text-xs">Get Your Order Fresh</p>
      </span>
      <span class="h-fit flex flex-col justify-center relative">
        <h3 class="z-10 text-xl font-bold text-white">15% <br />Off</h3>
        <img class="absolute scale-125 -z-0 m-auto" src="icons/blob2.svg" />
      </span>
    </div>
  </aside>
</section>
