---
import OfferCard from "./offer-card.astro";
---

<section
  class="grid grid-cols-auto-fit-mb gap-2 w-full md:w-11/12 lg:w-10/12 md:mx-auto mb-14"
>
  <a href="#hamburger-offer">
    <div
      class="flex w-full h-80 justify-between p-4 border rounded-xl bg-green-300 bg-[url('images/burger-offer.jpg')] bg-center bg-cover"
    >
      <h3 class="text-white font-bold text-2xl">25% <br /> Discount</h3>
      <span
        class="h-fit mt-3.5 flex -rotate-45 flex-col justify-center relative"
      >
        <h3 class="z-10 text-xl font-bold text-white">$2.60</h3>
        <img class="absolute scale-150 -z-0 m-auto" src="icons/blob3.svg" />
      </span>
    </div>
  </a>
  <aside class="flex flex-col h-80 gap-2 w-full">
    <a class="h-1/2" href="#waffle-offer">
      <div
        class="overflow-hidden flex justify-between relative p-4 w-full h-full rounded-xl bg-blob-green"
      >
        <img
          class="absolute max-w-60 z-10 bottom-0 right-0 left-0 w-2/3 mx-auto"
          src="images/offer2-bg.jpg"
        />
        <span
          class="h-fit mt-3.5 flex flex-col justify-center -rotate-45 relative"
        >
          <h3 class="z-10 text-lg font-bold text-white">$3.80</h3>
          <img class="absolute scale-125 -z-0 m-auto" src="icons/blob.svg" />
        </span>
        <div class="h-fit relative z-20">
          <h3 class="text-xl font-bold text-white">Save <br /> 20%</h3>
          <span
            class="-z-10 absolute bg-blob-green-dark -top-3 -right-3 w-full scale-175 aspect-square rounded-full"
          ></span>
        </div>
      </div>
    </a>
    <a class="h-1/2" href="#chips-offer">
      <div
        class="flex justify-between p-4 w-full h-full relative rounded-xl bg-secondary overflow-hidden"
      >
        <img
          class="absolute max-w-60 bottom-0 right-0 left-0 w-2/3 mx-auto"
          src="images/offer3-bg.jpg"
        />
        <span class="text-primary">
          <h3 class="font-bold">Tortilla Warp Tacos</h3>
          <p class="text-xs">Get Your Order Fresh</p>
        </span>
        <span class="h-fit flex flex-col justify-center relative">
          <h3 class="z-10 text-3xl font-bold text-white">15% <br />Off</h3>
          <img
            class="absolute scale-175 -rotate-180 -z-0 m-auto"
            src="icons/blob-offer.svg"
          />
        </span>
      </div>
    </a>
  </aside>
</section>
