---
import OfferCard from "./offer-card.astro";
---

<section class="flex gap-2 w-full h-80 mb-14 md:w-11/12 lg:w-10/12 m-auto">
  <div
    class="flex justify-between p-2 border rounded-xl bg-green-300 bg-[url('images/burger-offer.jpg')] bg-center bg-cover w-1/2"
  >
    <h3 class="text-white font-bold text-2xl">25% <br /> Discount</h3>
    <span class="h-fit flex -rotate-45 flex-col justify-center my-6 relative">
      <h3 class="z-10 text-2xl font-bold text-white">$2.60</h3>
      <img class="absolute scale-125 -z-0 m-auto" src="icons/star.svg" />
    </span>
  </div>
  <aside class="flex flex-col gap-2 w-1/2 h-full">
    <div
      class="p-4 w-full relative rounded-xl bg-red-300 bg-[url('images/offer2-bg.jpg')] bg-right bg-contain bg-no-repeat h-full"
    >
    </div>
    <div
      class="p-4 w-full relative rounded-xl bg-stone-300 bg-[url('images/offer3-bg.jpg')] bg-center bg-contain bg-no-repeat h-full"
    >
    </div>
  </aside>
</section>
